第 03 周作业
- 姓名:童俊烨
- 学号:2021210212036

内容: 数据探索课后实训

请
- 先将此文件更名为 <font color='red'>DM03-姓名-学号.ipynb</font> , 然后在此答题, 
- 完成后再提交此文件.

# 实训1 数据清洗

## (0) 读取数据文件, 查看数据集基本信息

In [4]:
import pandas as pd
data = pd.read_csv('USER_INFO.csv', encoding='gbk')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300309 entries, 0 to 300308
Data columns (total 35 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   MONTH_ID                   300309 non-null  int64
 1   USER_ID                    300309 non-null  object
 2   INNET_MONTH                300309 non-null  int64
 3   IS_AGREE                   300309 non-null  int64
 4   AGREE_EXP_DATE             152631 non-null  float64
 5   CREDIT_LEVEL               300309 non-null  int64
 6   VIP_LVL                    210255 non-null  float64
 7   ACCT_FEE                   300309 non-null  float64
 8   CALL_DURA                  300309 non-null  int64
 9   NO_ROAM_LOCAL_CALL_DURA    300309 non-null  int64
 10  NO_ROAM_GN_LONG_CALL_DURA  300309 non-null  int64
 11  GN_ROAM_CALL_DURA          300309 non-null  int64
 12  CDR_NUM                    300309 non-null  int64
 13  NO_ROAM_CDR_NUM            300309 non-null  int64
 14  NO_ROAM_LOCAL_CDR_NUM      300309 non-null  int64
 15  NO_ROAM_GN_LONG_CDR_NUM    300309 non-null  int64
 16  GN_ROAM_CDR_NUM            300309 non-null  int64
 17  P2P_SMS_CNT_UP             300309 non-null  int64
 18  TOTAL_FLUX                 300309 non-null  float64
 19  LOCAL_FLUX                 300309 non-null  float64
 20  GN_ROAM_FLUX               300309 non-null  float64
 21  CALL_DAYS                  300309 non-null  int64
 22  CALLING_DAYS               300309 non-null  int64
 23  CALLED_DAYS                300309 non-null  int64
 24  CALL_RING                  300309 non-null  int64
 25  CALLING_RING               300309 non-null  int64
 26  CALLED_RING                300309 non-null  int64
 27  CUST_SEX                   288867 non-null  float64
 28  CERT_AGE                   288634 non-null  float64
 29  CONSTELLATION_DESC         288634 non-null  object
 30  MANU_NAME                  300307 non-null  object
 31  MODEL_NAME                 300309 non-null  object
 32  OS_DESC                    287936 non-null  object
 33  TERM_TYPE                  300309 non-null  int64
 34  IS_LOST                    300309 non-null  int64
dtypes: float64(8), int64(22), object(5)
memory usage: 80.2+ MB

In [6]:
data.describe()

,MONTH_ID,INNET_MONTH,IS_AGREE,AGREE_EXP_DATE,CREDIT_LEVEL,VIP_LVL,ACCT_FEE,CALL_DURA,NO_ROAM_LOCAL_CALL_DURA,NO_ROAM_GN_LONG_CALL_DURA,...,CALL_DAYS,CALLING_DAYS,CALLED_DAYS,CALL_RING,CALLING_RING,CALLED_RING,CUST_SEX,CERT_AGE,TERM_TYPE,IS_LOST
count,300309.0,300309.000000,300309.000000,152631.000000,300309.000000,210255.000000,300309.000000,3.003090e+05,3.003090e+05,300309.000000,...,300309.000000,300309.000000,300309.000000,300309.000000,300309.000000,300309.000000,288867.000000,288634.000000,300309.000000,300309.000000
mean,201603.0,35.485150,0.508247,201651.876028,66.014222,82.711802,120.491337,2.442026e+04,1.518770e+04,4064.938623,...,24.259596,19.836868,21.043059,53.245078,30.706146,36.346680,1.329833,32.944799,3.751196,0.032343
std,0.0,34.219331,0.499933,80.823854,0.957590,35.848721,179.590162,2.889124e+04,2.104298e+04,7572.349917,...,8.356241,9.417648,9.336366,61.722897,42.450875,41.009812,0.470153,10.073895,0.487547,0.176911
min,201603.0,-249.000000,0.000000,201603.000000,0.000000,2.000000,0.050000,1.000000e+00,0.000000e+00,0.000000,...,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,6.000000,2.000000,0.000000
25%,201603.0,11.000000,0.000000,201607.000000,65.000000,99.000000,54.000000,5.958000e+03,1.886000e+03,0.000000,...,21.000000,13.000000,14.000000,17.000000,9.000000,11.000000,1.000000,26.000000,4.000000,0.000000
50%,201603.0,25.000000,1.000000,201610.000000,66.000000,99.000000,86.200000,1.531000e+04,8.007000e+03,1102.000000,...,28.000000,22.000000,24.000000,35.000000,19.000000,24.000000,1.000000,31.000000,4.000000,0.000000
75%,201603.0,50.000000,1.000000,201703.000000,67.000000,99.000000,147.200000,3.221600e+04,2.014500e+04,5070.000000,...,31.000000,28.000000,29.000000,69.000000,38.000000,48.000000,2.000000,38.000000,4.000000,0.000000
max,201603.0,249.000000,1.000000,205012.000000,67.000000,99.000000,65007.210000,1.333863e+06,1.333863e+06,251683.000000,...,31.000000,31.000000,31.000000,4419.000000,4367.000000,1978.000000,2.000000,93.000000,4.000000,1.000000

## (1) 调用 `duplicated()` 方法查看数据的重复情况.

In [11]:
dup = data.duplicated()
res = [] 
for i in range(0, len(data)):
    if dup[i] == True:
        res.append(i)
print(res)

[685, 688, 691, 693, 51958, 52129, 52133, 52137, 52139, 61366, 73392, 73395, 73398, 73400, 75656, 77128, 77913, 92714, 109287, 109292, 109308, 109311, 109352, 109365, 109370, 109373, 109376, 109380, 109383, 109389, 109415, 109423, 109427, 109451, 109458, 109717, 109720, 109723, 109725, 143861, 148502, 148506, 148510, 148512, 150748, 150753, 164222, 164225, 164751, 164756, 164772, 164775, 164816, 164829, 164834, 164837, 164840, 164844, 164847, 164853, 164879, 164887, 164891, 164915, 164922, 242301, 242308, 281695]

## (2) 调用 `drop_duplicates()` 方法删除重复值.

In [15]:
data.shape
data.drop_duplicates()

,MONTH_ID,USER_ID,INNET_MONTH,IS_AGREE,AGREE_EXP_DATE,CREDIT_LEVEL,VIP_LVL,ACCT_FEE,CALL_DURA,NO_ROAM_LOCAL_CALL_DURA,...,CALLING_RING,CALLED_RING,CUST_SEX,CERT_AGE,CONSTELLATION_DESC,MANU_NAME,MODEL_NAME,OS_DESC,TERM_TYPE,IS_LOST
0,201603,U3116011101365327,3,1,201701.0,66,NaN,98.55,44038,35562,...,98,71,1.0,49.0,巨蟹座,联想,LENOVO A2800-D,ANDROID,4,0
1,201603,U3115122549657565,4,1,201612.0,66,NaN,55.95,3163,1025,...,8,5,1.0,57.0,天秤座,联想,LENOVO A2800-D,ANDROID,4,0
2,201603,U3115122771884179,3,0,NaN,67,NaN,40.70,5889,0,...,4,2,2.0,50.0,射手座,联想,LENOVO A2800-D,ANDROID,4,1
3,201603,U3115122749792284,4,1,201612.0,66,NaN,77.15,12749,1813,...,15,6,1.0,47.0,射手座,联想,LENOVO A2800-D,ANDROID,4,0
4,201603,U3115121571754202,4,0,NaN,67,NaN,69.40,14220,2173,...,8,5,1.0,42.0,狮子座,联想,LENOVO A2800-D,ANDROID,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300304,201603,U3114120767704089,53,1,201603.0,65,99.0,61.70,24479,24035,...,37,60,1.0,31.0,金牛座,华为,HUAWEI NXT-TL00,ANDROID 5.1,4,0
300305,201603,U3114090724981212,56,0,NaN,65,99.0,31.48,3707,3405,...,0,22,1.0,39.0,双鱼座,华为,HUAWEI NXT-TL00,ANDROID 5.1,4,0
300306,201603,U3114082024818825,73,0,NaN,66,4.0,109.00,12103,9618,...,30,62,1.0,35.0,摩羯座,华为,HUAWEI NXT-TL00,ANDROID 5.1,4,0
300307,201603,U3114062124438736,22,0,NaN,65,99.0,75.96,902,0,...,4,15,1.0,24.0,处女座,华为,HUAWEI NXT-TL00,ANDROID 5.1,4,0
300308,201603,U3114051824292743,58,1,201606.0,65,99.0,63.31,43978,39748,...,40,71,2.0,32.0,处女座,华为,HUAWEI NXT-TL00,ANDROID 5.1,4,0

## (3) 查看数据缺失值, 将性别缺失的赋值为3, 年龄缺失的赋值为0, 删除含有其它缺失值的记录.

In [21]:
data.isnull()
data['CUST_SEX'].fillna(value=3, inplace=True)
data['CERT_AGE'].fillna(value=0, inplace=True)
data.isnull().sum()

MONTH_ID                          0
USER_ID                           0
INNET_MONTH                       0
IS_AGREE                          0
AGREE_EXP_DATE               147678
CREDIT_LEVEL                      0
VIP_LVL                       90054
ACCT_FEE                          0
CALL_DURA                         0
NO_ROAM_LOCAL_CALL_DURA           0
NO_ROAM_GN_LONG_CALL_DURA         0
GN_ROAM_CALL_DURA                 0
CDR_NUM                           0
NO_ROAM_CDR_NUM                   0
NO_ROAM_LOCAL_CDR_NUM             0
NO_ROAM_GN_LONG_CDR_NUM           0
GN_ROAM_CDR_NUM                   0
P2P_SMS_CNT_UP                    0
TOTAL_FLUX                        0
LOCAL_FLUX                        0
GN_ROAM_FLUX                      0
CALL_DAYS                         0
CALLING_DAYS                      0
CALLED_DAYS                       0
CALL_RING                         0
CALLING_RING                      0
CALLED_RING                       0
CUST_SEX                          0
CERT_AGE                          0
CONSTELLATION_DESC            11675
MANU_NAME                         2
MODEL_NAME                        0
OS_DESC                       12373
TERM_TYPE                         0
IS_LOST                           0
dtype: int64

## (4) 查找出在网时长小于0, 本月费用大于4万元, 通话时长比本地通话时长、国内长途通话时长和国内漫游通话时长的和大于 100 的数据并删除。

In [ ]:
data.drop(data[(data['本月费用（元）']<0)| (data['在网时长']<0) | (data['通话时长(秒)']>data['本地通话时长']) | (data['国内长途通话时长']+data['国内漫游通话时长']>100)].index,inplace=True)